body {

    background-image: url(imagenes/fondote.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: aliceblue;
    font-size: 35px;

}

.btn1 {
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 15px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
}

.btn1:hover {
    background-color: transparent;
    border: 2px solid #DC143C;

}


.btn2 {
    display: block;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px ;
    padding: 15px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
}

.btn2:hover {
    background-color: transparent;
    border: 2px solid #DC143C;

}


.btn3 {
    display: block;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px ;
    padding: 15px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
}

.btn3:hover {
    background-color: transparent;
    border: 2px solid #DC143C;

}


.btn4 {
    display: block;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px ;
    padding: 15px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
}

.btn4:hover {
    background-color: transparent;
    border: 2px solid #DC143C;

}

.btn5 {
    display: block;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
}

.btn5:hover {
    background-color: transparent;
    border: 2px solid #DC143C;

}
